body {
	padding: 64px;
}

.box {
	width: 100px;
	height: 100px;
	background-color: orange;
	transition-property: transform,;
	transition-duration: .3s;
	transition-timing-function: ease-out;
	
}

.box:hover {
transform: translateX(30px);
}
