body {
	padding: 10px;
}
.message {
	width: 300px;
	padding: 8px 16px;
	background: rgb(41, 41, 41);
	color: gray;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(61, 61, 61, 0.281);
	position: fixed;
	right: 32px;
	bottom: 32px;
	animation: popup 3s forwards;
}

@keyframes popup {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}

	20%,
	80% {
		transform: none;
		opacity: 1;
	}
	/* 80%{
		transform: none;
	} */
	100% {
		transform: translateY(20px);
		opacity: 0;
	}
}
